* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.navBar {
    background-color: #20303A;
}

.navbarText {
    margin-left: auto;
}

.anaBaslik {
    text-align: center;
    height: 100px;
    border-style: solid;
    padding-top: 20px;
    border-width: 1px;
    border-color: #20303A;
    display: inline-block;
    width: 80%;
    transition: background-color 0.5s ease;
    margin: 30px 0px 30px 0px;

}

.anaBaslik:hover {
    background-color: #20303A;
    color: white;
}

.kapsayici {
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
    padding: 40px 0px 40px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #20303A;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.uzunKolon {
    height: 55%;
    width: 80%;
    margin-top: 50px;
    border-radius: 1%;
    margin: 25px 0px 25px 0px;
}

.kısaKolon {
    height: 40%;
    width: 80%;
    margin-top: 30px;
    border-radius: 1%;
    margin: 25px 0px 25px 0px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.btn-style {
    background-color: #20303A;
    border-color: #20303A;
    border-radius: 0px;
}


footer {
    border-radius: 7px;
    margin-bottom: 10px;

}

#backtotop {
    bottom: 20px;
    right: 20px;
    display: scroll;
    position: fixed;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: #20303A;
    border-radius: 8%;


}

#backtotop i {
    font-size: 40px;
    transform: translate(0%, 10%);
    color: rgb(240, 240, 240);
    transition: color .6s;
}

#backtotop:hover {
    background-color: rgb(240, 240, 240);
    ;
}

#backtotop i:hover {
    color: #20303A;
}

footer {
    background-color: #20303A;
    color: aliceblue;
    width: 100%;
    min-height: 100%;
}

.icon {
    color: aliceblue;
    font-size: 270%;
    margin-bottom: 10%;
    margin: 5% 8% 5% 8%;
    float: left;
    text-align: center;
    display: inline-block;
    transition: color 0.7s;
    transition: box-shadow 0.6s
}

.icon:hover {
    color: #cecece;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 5px, rgba(218, 218, 218, 0.3) 0px 10px, rgba(166, 166, 166, 0.2) 0px 15px, rgba(126, 126, 126, 0.1) 0px 20px, rgba(64, 64, 64, 0.05) 0px 25px;
}